.education_title {
  @include title;
  margin-bottom: 35px;
}
.education_images {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.education_img:hover {
  opacity: .9;
  cursor: pointer;
  }
.education_centers {
  width: 1419px;
  height: 67px;
  background: $color-purple;
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 105px;
}
.center_coupon {
  font-weight: 300;
  font-size: 40px;
  font-family: $font2;
  color: $color-white;
}
.education_btn {
  width: 228px;
  height: 36px;
  background: $color-white;
  border: none;
  border-radius: 16px;
  margin-left: 41px;
  font-weight: 400;
  font-size: 24px;
  font-family: $font2;
  color: $color-purple;
  transition: all .3s ease-in-out;
  &:hover {
    background-color: $color-purple;
    color: $color-white;
    border: 2px solid $color-white;
    cursor: pointer;
  }
}
@media (max-width: 1430px) {
  .education_images {
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .education_img {
    margin-right: 80px;
  }
  .education_centers {
    width: 1100px;
  }
  .center_coupon {
    font-size: 30px;
  }
}
@media  (max-width: 1199px){
  .education_title {
    text-align: center;
  }
  .education_centers {
    width: 960px;
  }
  .education_btn {
    width: 210px;
    font-size: 20px;
  }
}
@media  (max-width: 991px){
  .education_img {
    margin-right: 20px;
  }
  .education_centers {
    width: 720px;
    margin-bottom: 40px;
  }
  .center_coupon {
    font-size: 20px;
   }
   .education_btn {
    width: 170px;
    font-size: 18px;
}
}
@media (max-width: 767px) {
 .education_title {
  font-size: 30px;
 }
 .education_centers {
  width: 540px;
}
.education_btn {
  width: 150px;
  font-size: 14px;
}
.center_coupon {
  font-size: 14px;
}
}

@media (max-width: 575px) {
  .education_img {
    margin-right: 0;
  }
  .education_images {
    justify-content: center;
    column-gap: 8px;
  }
  .education_centers {
    width: 320px;
    flex-wrap: wrap;
    height: 75px;
    padding: 10px;
    margin: 23px auto;
  }
  }
